
body {
  background-image: url('../images/lake.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 800px;
}

#feedback {
  display: none;
  color: red;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 8px;
}

.foot {
  display: flex;
  justify-content: space-between;
}

.bts {
  display: flex;
  align-items: center;
}

i {
  padding-left: 15px;
  cursor: pointer;
}

.post_btn {
  display: flex;
  justify-content: center;
}

/* modal styles */

.myModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  background-color: #efefef;
  margin: 18% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 7px;
}

#close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#close:hover {
  transform: scale(2);
}
